<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%- include('partials/header') -%>
  </head>

  <body>
    <div class="container">
      <% content.forEach((item) => { %>
        <h1><%= item.title %></h1>
        <% if (item.body.length > 100 ) { %>
          <p>
            <%= item.body.substring(0,100) + '...' %>
            <%# hyperlink can simply be <a href="/posts/item.title">Read More</a> #%>
            <a href="/posts/<%= item.title %>">Read More</a>
          </p>
         <% } else { %> <%# else is on same line as closing if, otherwise raises error #%>
          <%= item.body %>
        <% } %> 
      <% }); %>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>

